#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: -webkit-linear-gradient(
    90deg,
    #d2cdc6,
    #08a693,
    #3a4d5f,
    #272c3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #d2cdc6,
    #08a693,
    #3a4d5f,
    #272c3f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cardColores {
  box-shadow: -1px 3px 17px 4px rgba(231, 235, 22, 1);
  -webkit-box-shadow: -1px 3px 17px 4px rgba(231, 235, 22, 1);
  -moz-box-shadow: -1px 3px 17px 4px rgba(231, 235, 22, 1);
}